@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&family=Roboto:wght@300&display=swap');

#moon{
    position: absolute;
    margin: auto;
    top: 20px;
    right: 50px;
    width: 100px;
    height: 100px;
    animation: moon 5s ease-in;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 25px 10px 0px 0px #dfd6c8; 
} 
.star{
    box-shadow: 0px 0px 10px 1px rgb(238, 255, 0);
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: falling 3s infinite;
}

#wheel{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position:relative;
    left:calc(50%);
    top:300px;
    animation: rotation 45s infinite;
}
#name-of-sign{
    color: #fff;
    position: relative;
    text-align:center;
    font-family: 'Roboto', serif;
    font-size: 18px;
    font-weight: 300;
    
}
#signs{
    transform-origin: center center;
}
#signs svg{
    cursor: pointer;
}
.menu-item a{
    font-size: 16px;
}
.menu-item a:hover{
    color: yellow !important;
    text-decoration-color: yellow !important;
}
#sign{
    color: #fff;
    text-align:center;
    font-size: 16px;
    margin-top: 100px;
}
@media screen and (max-width: 500px) {
    #wheel {
        width: 250px;
        height: 250px;
        top:200px;
    }
  }
@keyframes rotation{
    0%{
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}
@keyframes antirotation{
    0%{
        transform: translate(50%, 50%)  rotateZ(0deg);
    }
    100%{
        transform: translate(50%, 50%) rotateZ(-360deg);
    }
}
@keyframes falling{
    0% {
        opacity:0;
        transform: translate(100px, 0);
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity:0;
        transform: translate(0, 200px)
        
    }
}
@keyframes moon{
    0%{
        box-shadow: 0px 0px 0px 0px #dfd6c8; 
    }
    100%{
        box-shadow: 25px 10px 0px 0px #dfd6c8; 
    }
}