html{
    font-family: 'Rubik';
}
#gift-header{
    background-color: #2b2d42;
    height: 100vh;
}
ul li a.active{
    color:#FCBF49
}
ul li a{
    color: #fff;
    font-size: 20px;
}
ul{
    text-align:center;
    justify-content: center;
    
}
header{
    margin-bottom:90px;
}
h1{
    color: #F1FAEE;
    text-align: center;

}
article h1{
    color: #000;
}
em{
    color: #F77F00;
    text-decoration: none;
    font-style: normal;
}
#header .button{
    background-color: #FE5E72;
    box-shadow: none;
    outline: none;
    border:0;
    color: #fff;
    padding: 20px;
}
#posts{
    width:90%;
    margin: 0 auto;
}
.recent-posts{
    display:flex;
    flex-wrap: wrap;
}
.recent-posts .post{
    flex-basis:350px;
    background-color: #eee;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 20px;
    
}
.post p{
    padding: 10px 20px;
}
#posts h2{
    margin-bottom:2.5rem;
    font-size:24px;
    color: rgb(71, 71, 71);
}
.post .author{
    padding-left: 20px;
    margin-top: 10px;
    color: rgb(131, 131, 131);
}
  .scroll-downs {
    position: absolute;
    top: 80%;
    left: 90%;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
@media only screen and (max-width: 890px) {
    h1 {
        margin-top: 50px;
        font-size: 24px;
    }
    #posts h2{
        font-size:28x;
        margin-bottom: 0;
    }
    .recent-posts .post{
        margin-right: 0;
        flex-basis:90%;
    }
}