html{
    font-family: 'Rubik';
}
#gift-header{
    background-color: #2B2D42;
    height: 100vh;
}
ul li a.active{
    color:#FCBF49
}
ul li a{
    color: #fff;
    font-size: 20px;
}
ul{
    text-align:center;
    justify-content: center;
    padding-top:20px;
    padding-bottom: 150px;
}
h1{
    color: #F1FAEE;
    text-align: center;

}
em{
    color: #F77F00;
    text-decoration: none;
    font-style: normal;
}
#header .button{
    background-color: #FE5E72;
    box-shadow: none;
    outline: none;
    border:0;
    color: #fff;
    padding: 20px;
}
.recent-posts{
    display:flex;
    flex-wrap: wrap;
}
.recent-posts .post{
    flex-basis:350px;
    background-color: #eee;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 20px;
    
}
.post p{
    padding: 10px 20px;
}
#posts h1{
    margin-bottom:2.5rem;
}
.post .author{
    padding-left: 20px;
    margin-top: 10px;
    color: rgb(131, 131, 131);
}