@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

#wheel{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position:absolute;
    left:calc(50% - 10px);
    top:360px;
    animation: rotation 45s infinite;
}
#name-of-sign{
    color: #fff;
    position: relative;
    text-align:center;
    font-family: 'Bodoni Moda', serif;
    font-size: 18px;
    text-shadow: 1px 1px 20px rgb(255, 221, 182);
}
#signs{
    transform-origin: center center;
}
#signs svg{
    cursor: pointer;
}
@keyframes rotation{
    0%{
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}
@keyframes antirotation{
    0%{
        transform: translate(50%, 50%)  rotateZ(0deg);
    }
    100%{
        transform: translate(50%, 50%) rotateZ(-360deg);
    }
}